:root {
  --main-color: rgba(111, 0, 255, 0.651);
}
/* REUSABLE COMPONENTS */
.card {
  max-width: 18rem;
}

.card-img-hovered {
  opacity: 0;
  transition: opacity 0.5s;
}

.card-text-hovered {
  opacity: 100 !important;
  transition: opacity 1s;
}

.border-main {
  border-color: var(--main-color);
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.btn-main {
  background-color: var(--main-color);
  color: #fff;
}

.footer-icon {
  height: 20px;
  width: 20px;
}

/* OTHER */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cover {
  z-index: 1;
}

.cover-hidden {
  display: none;
}

/* LANDING PAGE */
.devmode {
  background: url("../assets/img/devmode.gif");
  background-size: cover;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/hero.jpg");
  background-size: cover;
}

@font-face {
  font-family: Tomatoes;
  src: url("../assets/fonts/Tomatoes-O8L8.ttf");
}

@font-face {
  font-family: IBMPlexSerif;
  src: url("../assets/fonts/IBMPlexSerif-Light.ttf");
}

.blockquote {
  margin-top: 20%;
  transform: translateY(-20%);
  font-family: Tomatoes;
  font-size: 200%;
}

.blockquote-footer {
  margin-top: 10px;
  font-family: IBMPlexSerif;
}

.blockquote-footer::before {
  display: none;
}
/* PROFILE SECTION */

.profile-content-right {
  margin-top: 12px;
}

.profile-image {
  height: 350px;
}

/* EXPERIENCE SECTION */

.experience {
  background: rgba(224, 224, 224, 0.2);
}

.exp-desc {
  opacity: 0;
}

/* PROJECTS */

.card-project {
  width: 18rem;
  display: inline-block;
}

.card-project-desc {
  position: absolute;
}

/* CONTACT */
.contact {
  background-color: rgba(224, 224, 224, 0.2);
}

.contact-footer {
  margin-top: -120px;
  padding-top: 150px;
  padding-bottom: 30px;
}
